<a href="<%= user_path(user) %>">
  <div class="md:my-10 mb-10">
    <div class="p-10 bg-white rounded md:flex items-center">
      <% if user.image.attached? %>
        <div class="card">
          <%= image_tag user.image.variant(resize: "200x200^", gravity: "center", crop: "200x200+0+0"), class: 'mb-10 md:mb-0 object-cover h-auto w-auto border-4 border-black rounded mx-auto' %>
        </div>
      <% end %>
      <div class="md:ml-10 md:w-3/4">
        <h1 class="mx-auto mb-2 text-3xl sm:text-4xl leading-none tracking-tight text-gray-900 font-bold md:text-5xl dark:text-black"><%= user.username %></h1>
        <h3 class="mx-auto mb-4 sm:text-3xl font-bold  dark:text-black">
          <% unless user.mbti==""||user.mbti==nil %>
            <%= user.mbti %>
          <% else %>
            MBTI未登録
          <% end %>  
        </h3>
        <h3 class="mb-4 text-sm md:text-2xl">
          <%= render 'users/comment', {user: user} %>
        </h3>
        <td><%= render 'relationships/btn', {user: user} %></td>
      </div>
    </div>
  </div>
</a>
